body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url(cool-background\ \(2\).png);
}

fieldset{
    padding: 1em;
    margin:1em 0;
    border: 1px solid #ccc;
    background: #f8f8f8;
    background: url();
}

legend{
    font-weight: bold;
}

label{
    display: block;
    cursor: pointer;
    color: white;
}

input[type="text"]{
    width: 20em;
}

textarea{
    width: 20em;
    height: 10em;
    border-radius: 15px;
    background-color: black;
}

input[type="radio"]{
    margin-right: 1em;
}