/*Estilo para barra de navegacao*/


ul{
list-style-type: none;
margin: 0;
padding: 0;

}

li{
    padding: 10px 20px;
    background:  url(Imagens/seta.png) no-repeat left center;  
    
}
